
        <!-- TEMPLATES -->
        <script type="text/template" id="navItem">   
            <div class="module nav-scroll">
                <a href="#" id="<%= id %>" title="<%= text %>">
                    <%= text %>
                </a>
            </div>
        </script>

        <script type="text/template" id="navDescription">   
            <div class="col-2-3 module tight <%= className %>">
                <button class="exit" title="close this section">x</button>
                <h3 class="larger block"><%= title %></h3>
                <%= text %>
            </div>
        </script>
        <script type="text/template" id="readMore">
            <aside class="col-1-3 module">
                <div class="down2x">
                    <a class="excerpt-link" href="<%= link %>">Read More</a>
                </div>
            </aside>
        </script>
        <script type="text/template" id="sidbar_modules">
            <div class="widget box-shadow">
                <h3><%= header %></h3>
                <%= contents %>
            </div>
        </script>
        <!-- TEMPLATES -->